<!DOCTYPE html>
<%- include('parts/header', { pageName: 'Menu', pageTitle: 'MENU' }) %>
	<body>
		<% if (message) { %>
			<div class="message"><%= message %></div>
		<% } %>
		<ul>
			<li class="pixel_egg"><a href="/recipe/boiled"><img src="/boiled.png" alt="egg pixel art"></a></li>
			<li><a href="/recipe/sunny-side"><img src="/sunnysideup.png" alt="egg pixel art"></a></li>
			<li><a href="/recipe/scrambled"><img src="/scrumbeled.png" alt="egg pixel art"></a></li>
			<li><a href="/recipe/omelet"><img src="/omelet.png" alt="egg pixel art"></a></li>
		</ul>
	</body>
<%- include('parts/footer') %>
</html>
